* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.App {
  text-align: center;
  background-color:gray;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tag {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: rgb(31, 31, 88);
  justify-content: space-between;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color:white;
  background-color: rgb(31, 31, 88);
  padding-left: 200px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.text ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.text ul li a {
  color: white;
  margin-left: 30px;
  padding-right: 20px;
  text-decoration: none;
}

.zak {
  display:flex;
  color: rgb(31, 31, 88);
  margin-left: 15rem;
  margin-bottom:1rem  ;
}
i{
  margin-left: 50rem;
 color: rgb(31, 31, 88);;
}
